@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300;400;500;600;700&display=swap');

/* font-family: 'Rouge Script', cursive; */
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Noto Serif KR', serif; */
/* font-family: 'Arima', cursive; */

/*  Reset CSS  */
* { margin:0;  padding:0}
html{scroll-behavior: smooth}
html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block}
body{font-family: 'Noto Sans KR', sans-serif; font-size: 18px;color: #333}
ol, ul{list-style: none}
table{border-collapse: collapse; border-spacing: 0}
address{font-style: normal}
a{color: #333; text-decoration: none}
img{border: 0; vertical-align: top}
.hidden{display: block;position: absolute;left: -1000px;width: 1px;height: 1px;overflow: hidden;color:#fff}
#skipNav{position:relative;width: 100%;overflow: hidden;z-index: 60}
#skipNav a{display: block;height:1px;margin-bottom: -1px;font-size: 1.2em;
           color: #fff;overflow: hidden;text-align: center}
#skipNav a:hover, #skipNav a:focus, #skipNav a:active{height: auto;padding:10px 0;background: #1b8ab3}           
.wrap{width:100%; overflow: hidden}

/* HeaderArea */

#headerArea{position:fixed; z-index: 80; left:0; top: 0;width: 100%}	
#headerArea h1{ float: left; margin-top: 10px;font-family: 'Rouge Script', cursive; font-size: 2.5em;z-index: 50}
#headerArea h1{float: left; margin-top: 10px}
#headerArea h1 a{margin:10px 0 0 150px;width:90px;padding-right:40px;overflow: hidden;
                 background: url(../img/he_logo_bl.png) center right no-repeat;display: block;background-size: 28%}
#headerArea h1 a span{margin-right: 3px;color:#333}

#headerArea h1 .sub_logo{background: url(../img/he_logo_or.png) center right no-repeat;background-size: 28%}
#headerArea h1 .sub_logo>span{color:rgba(255,151,0,1)}

.btn{font-size:1.5em; color:#BB371A; display:none}

#nav ul{width:70%;float: right;margin-top: 40px;display: flex;justify-content: center}
#nav li{line-height:1.2em; text-align:center; float:left}

#nav li>a{ display:block; padding: 0 20px; height:40px; font-family:'Arima', cursive; color:#333; 
    overflow:hidden; font-weight: 700;transition:all 0.5s;font-size: 1.1em}
#nav li:hover>a {opacity:1;color:#fff;text-shadow: 2px 1px 0 rgb(236, 142, 1);-webkit-text-stroke: 1px  #ec8e01}
#nav li.on>a {opacity:1;color:#fff;text-shadow: 2px 1px 0  rgb(236, 142, 1);-webkit-text-stroke: 1px  rgb(236, 142, 1)}

#nav li:nth-child(1):hover>a { text-shadow: 2px 1px 0 #BB371A;-webkit-text-stroke: 1px #BB371A}
#nav li:nth-child(1).on>a { text-shadow: 2px 1px 0 #BB371A;-webkit-text-stroke: 1px #BB371A} */
#headerArea #nav .close{display: none}

/* topMove */
.topBtn{position:fixed;bottom:5%;right:3%;display: block;width:50px;height:50px;
        background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
        z-index: 50;color: #fff;border-radius: 50%;cursor: pointer;transition: all .5s ease-in-out;
        display: inline-block;text-align: center;line-height: 48px;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),7px 7px 20px 0px rgba(0,0,0,.1),4px 4px 5px 0px rgba(0,0,0,.1)}
.topBtn:hover{background: rgb(255,27,0);background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) )}

/* section layout common */
section{overflow: hidden}
section.main_page{width:100%;height:700px; position:relative; background-size:cover; background-position:right center}
section:nth-child(1){ background:url(../img/main_back.jpg);background-size: cover}

/* main page background */
.p11 { position:absolute; bottom:-190px; right:550px;z-index: 2}
.p12 { position:absolute; bottom:90px; left:750px;z-index: 3}
.p13 { position:absolute; bottom:-200px; left:50px;z-index: 2}
.p21 { position:absolute; bottom:-150px; right:-150px;z-index: 1}
.p22 { position:absolute; top:180px; right:300px;}
.p31 { position:absolute; top:-250px; left:-80px;z-index: 1}
.p32 { position:absolute; top:-120px; left:-60px;z-index: 3}
.p33 { position:absolute; top:-280px; left:500px;}

.circleImg{transition:all .3s ease-out}

/* main page layout */
.main_page article{position:absolute;left:50%;top:50%;transform: translateX(-50%)translateY(-50%);z-index: 15;text-align: center;
                   font-size: 2em;border:none;width:100%;height:auto}
.main_page article span{font-size: .8em;font-weight: 300}
.main_page article h3{font-size: 2.3em;letter-spacing: -1px;margin-bottom: 10px; font-family:'Arima', cursive;color:#BB371A}
.main_page article a{position:relative;font-size: .5em;background: transparent;padding: 8px 30px;border-radius: 20px;
                     transition: all .5s ease-in-out;font-weight: 400;color:rgb(212, 115, 4);
                     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),7px 7px 20px 0px rgba(0,0,0,.05),4px 4px 5px 0px rgba(0,0,0,.05)}
.main_page article a:hover{background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);color:#fff}

/* article common */
article{box-sizing: border-box;border-bottom: 20px solid transparent;position:relative;width:100%;height:100%;position:relative;
        border-image:linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);border-image-slice: 1}
article .contentArea{position:absolute;left:50%;top:50%;width:80%;transform: translateX(-50%) translateY(-50%);overflow: hidden}
article .contentArea .left{float: left;width:34%;padding:3%}
article .contentArea .info{float: left;width:54%;background: #f8f8f8;position:relative;padding:4% 3% 8%;
                           border-radius: 20px;font-size: .8em;font-size: 1vw}
section article .contentArea .left .contentImg{width:100%;position:relative}
section article .contentArea .info .project_title dt{font-size: 1.5em;font-family: 'Arima', cursive;font-weight: 700;color:rgba(255,151,0,1);width:350px;margin: 20px auto 30px;
                                                       display: block;text-align: center;position:relative}
section article .contentArea .info .project_title dt::after{content: '';background: rgba(236, 142,1,.15);width:100%;height:15px;position:absolute;bottom:5px;left:50%;
                                                            border-radius: 8px;transform: translateX(-50%)}
section article .contentArea .info .project_title dt span{font-size: .55em;margin-left: 5px;font-family: 'Noto Sans KR', sans-serif;font-weight: 400;color:#333;font-weight: 300}
section article .contentArea .info .project_title dd{text-align: center;font-size: .85em;width:80%;margin: 0 auto;line-height: 2em}

section article .contentArea .info .project_info{background: #fff;margin:30px 0;padding:3% 5%;border-radius: 20px;font-size: 1em}
section article .contentArea .info .project_info dl{margin-bottom: 15px}
section article .contentArea .info .project_info dl:last-child{margin: none}
section article .contentArea .info .project_info dl dt{font-size: 1.1em;font-weight: 500;color:#666}
section article .contentArea .info .project_info dl dd{font-weight: 300;margin-top: 3px}
section article .contentArea .info .project_info .colorBox dd{overflow: hidden;margin-top: 5px}
section article .contentArea .info .project_info .colorBox dd span{display: block;width:40px;height:15px;border-radius: 8px;box-shadow: inset 2px 5px 3px rgba(0,0,0,.1);margin-right: 5px;float: left}
section article .contentArea .info .qr{position:absolute;right: 5%;bottom:5%;width:10%}

/* button */
section article .contentArea .left .profile_btn,section article .contentArea .info .profile_btn{background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;padding: 0;border: none;width: 100%;height: 40px;color: #fff;border-radius: 15px;font-weight: 500;
    cursor: pointer;transition: all 0.3s ease;position: relative;display: inline-block;box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),4px 4px 5px 0px rgba(0,0,0,.1);outline: none;margin: 8px 0}
section article .contentArea .left .profile_btn span, section article .contentArea .info .profile_btn span{position: relative;display: block;width: 100%;height: 100%}
section article .contentArea .left .profile_btn:before,section article .contentArea .left .profile_btn:after,
section article .contentArea .info .profile_btn:before,section article .contentArea .info .profile_btn:after{position: absolute;content: "";right: 0;bottom: 0;background: rgba(251,75,2,1);
box-shadow:-7px -7px 20px 0px rgba(255,255,255,.9),-4px -4px 5px 0px rgba(255,255,255,.9),7px 7px 20px 0px rgba(0,0,0,.2),4px 4px 5px 0px rgba(0,0,0,.3);
transition: all 0.3s ease}
section article .contentArea .left .profile_btn:before,section article .contentArea .info .profile_btn:before{height: 0%;width: 2px}
section article .contentArea .left .profile_btn:after,section article .contentArea .info .profile_btn:after{width: 0%; height: 2px}
section article .contentArea .left .profile_btn:hover,section article .contentArea .info .profile_btn:hover{color: rgba(251,75,2,1);background: #fff}
section article .contentArea .left .profile_btn:hover:before, section article .contentArea .info .profile_btn:hover:before{height: 100%}
section article .contentArea .left .profile_btn:hover:after, section article .contentArea .info .profile_btn:hover:after{width:100%}
section article .contentArea .left .profile_btn span:before,section article .contentArea .left .profile_btn span:after,
section article .contentArea .info .profile_btn span:before,section article .contentArea .info .profile_btn span:after {position: absolute;content: "";left: 0;top: 0;background: rgba(251,75,2,1);
box-shadow:-7px -7px 20px 0px rgba(255,255,255,.9),-4px -4px 5px 0px rgba(255,255,255,.9),7px 7px 20px 0px rgba(0,0,0,.2),
4px 4px 5px 0px rgba(0,0,0,.3);transition: all 0.3s ease}
section article .contentArea .left .profile_btn span:before,section article .contentArea .info .profile_btn span:before {width: 2px;height: 0%}
section article .contentArea .left .profile_btn span:after,section article .contentArea .info .profile_btn span:after {height: 2px;width: 0%}
section article .contentArea .left .profile_btn span:hover:before,section article .contentArea .info .profile_btn span:hover:before{height: 100%}
section article .contentArea .left .profile_btn span:hover:after,section article .contentArea .info .profile_btn span:hover:after{width: 100%}

section article .contentArea .info .profile_btn.sub_btn{position:absolute;bottom:8%;left: 50%;transform: translateX(-50%);width:30%}
section article .contentArea .info .profile_btn.sub_btn span{overflow: hidden}
section article .contentArea .info .profile_btn.sub_btn span i{float: right;line-height: 41px;margin-right: 20%}

/* profile page */
section:nth-child(2) article .contentArea .left{float: left;width:14%;padding:0 0 0 3%}
section:nth-child(2) article .contentArea .imgBox{box-shadow: 5px 5px 15px 3px rgba(0,0,0,.2);width:100%;border-radius: 50px;overflow: hidden;margin: 80px 0 40px}
section:nth-child(2) article .contentArea .imgBox img{object-fit: contain;width:100%;height:100%;object-position: 50% 50%}

section:nth-child(2) article .contentArea .info{background: #f8f8f8;width:65%;border-radius: 50px;float: right;margin-right: 5%;padding:5%}
section:nth-child(2) article .contentArea .info .myname{font-size: 1.5em;font-family: 'Arima', cursive;font-weight: 700;color:rgba(255,151,0,1);width:250px;margin: 20px auto 30px;
                                                       display: block;text-align: center;position:relative}
section:nth-child(2) article .contentArea .info .myname::after{content: '';background: rgba(236, 142,1,.15);width:100%;height:15px;position:absolute;bottom:5px;left:50%;
                                                              border-radius: 8px;transform: translateX(-50%)}
section:nth-child(2) article .contentArea .info .myname span{font-size: .55em;margin-left: 5px;font-family: 'Noto Sans KR', sans-serif;font-weight: 400;color:#333;font-weight: 300}
section:nth-child(2) article .contentArea .info dl{margin-bottom: 50px}
section:nth-child(2) article .contentArea .info dt{color:#f77307;margin:10px 0 15px;font-size: 1em;font-weight: 500}
section:nth-child(2) article .contentArea .info dd{line-height: 2em;background: #fff;padding:10px 20px;border-radius: 15px;font-size: .9em;font-weight: 300}
section:nth-child(2) article .contentArea .info .skill_img img{width:50px;margin:20px 3px}

/* PC page */
section:nth-child(3) article .contentArea .left .contentImg{margin: 130px 0}
section:nth-child(3) article .contentArea .left .contentImg .projectImg{width:94.5%;padding:2.8% 3% 0 2.8%;object-fit: contain;height:100%}
section:nth-child(3) article .contentArea .left .contentImg .apple_device{z-index: 5;position:absolute;top:0;left:0;width:100%}
section:nth-child(3) article .contentArea .info .project_info .colorBox dd .color1{background: #1b8ab3}
section:nth-child(3) article .contentArea .info .project_info .colorBox dd .color2{background: #0c3c4e}
section:nth-child(3) article .contentArea .info .project_info .colorBox dd .color3{background: #ffea01}

/* mobile page */
section:nth-child(4) article .contentArea .left .contentImg{margin-top: 40px}
section:nth-child(4) article .contentArea .left .contentImg .imgBox{border-radius: 30px;overflow: hidden;display: block;width:44%;margin:0 28%;background: #0c3c4e}
section:nth-child(4) article .contentArea .left .contentImg .projectImg{width:98%;object-fit: contain;height:100%;margin: 36px 1% 0}
section:nth-child(4) article .contentArea .left .contentImg .apple_device{z-index: 5;position:absolute;top:-.5%;left:50%;width:48%;transform: translateX(-50%);}

section:nth-child(4) article .contentArea .info .project_info .colorBox dd .color1{background: #1b8ab3}
section:nth-child(4) article .contentArea .info .project_info .colorBox dd .color2{background: #0c3c4e}
section:nth-child(4) article .contentArea .info .project_info .colorBox dd .color3{background: #ffea01}

/* responsive page */
section:nth-child(5) article .contentArea .left .contentImg{margin-top: 150px}
section:nth-child(5) article .contentArea .left .contentImg .projectImg{width:83%;padding:2% 3% 0 2%;object-fit: contain;height:100%}
section:nth-child(5) article .contentArea .left .contentImg .apple_device{z-index: 5;position:absolute;top:0;left:0;width:100%}
section:nth-child(5) article .contentArea .info .project_info .colorBox dd .color1{background: #000}
section:nth-child(5) article .contentArea .info .project_info .colorBox dd .color2{background:linear-gradient(135deg, rgba(249,189,25,1) 0%,rgba(249,242,149,1) 25%,rgba(222,174,71,1) 62%,rgba(237,201,103,1) 100%);}
section:nth-child(5) article .contentArea .info .project_info .colorBox dd .color3{background:rgba(249,193,14,1)}

/* bootstrap page */
section:nth-child(6) article .contentArea .left img{object-fit: contain;width:100%;height:100%;margin-top: 150px}
section:nth-child(6) article .contentArea .info .project_info .colorBox dd .color1{background: #d6cbc5}
section:nth-child(6) article .contentArea .info .project_info .colorBox dd .color2{background: #986d52}
section:nth-child(6) article .contentArea .info .project_info .colorBox dd .color3{background: #513929}

/* wordpress page */
section:nth-child(7) article .contentArea .left img{object-fit: contain;width:100%;height:100%;margin-top: 150px}
section:nth-child(7) article .contentArea .info .project_info .colorBox dd .color1{background: #e42628}
section:nth-child(7) article .contentArea .info .project_info .colorBox dd .color2{background: #fe8b0a}
section:nth-child(7) article .contentArea .info .project_info .colorBox dd .color3{background: #26b53b}

/* vue page */
section:nth-child(8) article .contentArea .left img{object-fit: contain;width:100%;height:100%;margin-top: 150px}
section:nth-child(8) article .contentArea .info .project_info .colorBox dd .color1{background: #184d47}
section:nth-child(8) article .contentArea .info .project_info .colorBox dd .color2{background: #b2d19b}
section:nth-child(8) article .contentArea .info .project_info .colorBox dd .color3{background: #fad586}

/* react page */
section:nth-child(9) article .contentArea .left img{object-fit: contain;width:100%;height:100%;margin-top: 150px}
section:nth-child(9) article .contentArea .info .project_info .colorBox dd .color1{background: #184d47}
section:nth-child(9) article .contentArea .info .project_info .colorBox dd .color2{background: #b2d19b}
section:nth-child(9) article .contentArea .info .project_info .colorBox dd .color3{background: #fad586}

@media screen and (max-width:1280px) {
    #nav ul{width:75%;padding-right: 30px}
    #nav li>a{padding:0 15px}
    #headerArea h1 a{margin:10px 0 0 60px}
    .p31,.p11,.p21,.p22 {display: none}

    section article .contentArea{width:90%}
    section:nth-child(2) article .contentArea .imgBox{border-radius: 30px}
    section:nth-child(2) article .contentArea .info .skill_img img{width:40px;margin:10px 2px}
    section article .contentArea .info .project_title dt{font-size: 2em}
    section article .contentArea .info .project_title dd{width:90%;font-size: .95em}
    section article .contentArea .info .project_info{margin-top: 20px}
    section:nth-child(4) article .contentArea .left .contentImg .projectImg{margin-top: 9px}
}
@media screen and (max-width:1024px) {

    #headerArea h1{font-size: 3em}
    #headerArea h1 a{margin:20px 0 0 60px;width:100px;padding-right: 50px;background-size: 26%}
    
    .btn{display:block; position:absolute; top:30px; right:5%;color:#BB371A;font-size: 2em}
    #nav{clear:both; width:100%; position:absolute; right:-100%; top:2px;
          background:rgba(255,255,255,.95); opacity:0; z-index:20;background-size: contain}
    #nav ul{width:auto;float: none;margin-top: 30%;display: block}
    #nav li{float:none; width:auto;font-size: 2.7vw;margin: 15px 0;padding:8px 0 0 20%;text-align: left}
    #nav li a{display: block}
    #nav .close{display: block;position:absolute; right:8%; top:20px; font-size:1.8em; color:#BB371A}

    section{height:750px}

    section:nth-child(3){background: rgba(254, 139, 10,.1)}
    section:nth-child(5){background: rgba(254, 139, 10,.1)}
    section:nth-child(7){background: rgba(254, 139, 10,.1)}
    section:nth-child(9){background: rgba(254, 139, 10,.1)}


    section article{border-bottom: none}
    section article .contentArea{position:relative;padding:5% 5% 8% 5%;left:50%;top:45%}
    section article .contentArea .left,section article .contentArea .info{float:none;width:auto}
    section article .contentArea .left{position:relative;z-index:20}

    section article .contentArea .info .project_title dt{font-size: 2.3em}
    section article .contentArea .info .project_title dd{width:80%;font-size: 1.2em}
    
    section article .contentArea .left .contentImg{width:35%;position:absolute;right:15%;top:260px;z-index: 10}

    section article .contentArea .info .qr{position:absolute;right: 5%;bottom:3%;width:8%}

    section:nth-child(2) article .contentArea{top:50%;padding:5%}
    section:nth-child(2) article .contentArea .left,section:nth-child(2) article .contentArea .info{float:none;width:auto}
    section:nth-child(2) article .contentArea .left{overflow: hidden;padding:3% 10%}

    section:nth-child(2) article .contentArea .left .imgBox{width:20%;float: left;overflow: hidden;margin-top: 0}
    section:nth-child(2) article .contentArea .left .btnBox{display: inline-flex;justify-content: space-around;width:80%}
    section:nth-child(2) article .contentArea .left .profile_btn{width:30%;float: left;margin: 8% 1% 0}
    section:nth-child(2) article .contentArea .left .profile_btn.first{margin-left: 80px}
    section:nth-child(2) article .contentArea .info{min-height:300px;margin: -120px 0 0 0;padding:2% 5%}
    section:nth-child(2) article .contentArea .info .myname{margin: 0 auto;font-size: 3em}

    section article .contentArea .info .profile_btn.sub_btn{position:absolute;bottom:-70px;left: 25%;transform: translateX(-50%);width:30%}

    section:nth-child(4) article .contentArea .left .contentImg{width:38%;position:absolute;right:8%;top:255px;z-index: 10}
    section:nth-child(4) article .contentArea .left .contentImg .imgBox{border-radius: 20px;margin-top: 2px}
    section:nth-child(4) article .contentArea .left .contentImg .projectImg{margin-top: 20px}
    section:nth-child(4) article .contentArea .info .project_info dl{width:65%} 

}

@media screen and (max-width:640px) {  
    
    #headerArea h1{font-size: 2.8em}
    #headerArea h1 a{margin:20px 0 0 45px;width:100px;padding-right: 40px;background-size: 24%}

    .btn{display:block; position:absolute; top:23px; right:5%;color:#BB371A}
    #nav{clear:both; width:100%; position:absolute; right:-100%; top:2px;
          background:rgba(255,255,255,.95); opacity:0; z-index:20;background-size: contain}
    #nav ul{width:auto;float: none;margin-top: 30%}
    #nav li{float:none; width:auto;font-size: 3.7vw;margin: 8px 0;}
    #nav li a{display: block}
    #nav .close{display: block;position:absolute; right:8%; top:20px; font-size:1.8em; color:#BB371A}

    .main_page article h3{font-size: 10vw}

    section{height:1150px}
    section:nth-child(2) article .contentArea .left{padding:3% 5%}
    section:nth-child(2) article .contentArea .left .imgBox{width:40%;margin: 0 0 20px 0;}
    section:nth-child(2) article .contentArea .left .btnBox{display: block;float:right;width:55%;margin:7% 0 5% 5%}
    section:nth-child(2) article .contentArea .left .profile_btn{display: flex;width:100%;margin:5% 0}
    section:nth-child(2) article .contentArea .left .profile_btn.first{margin-left:0}
    section:nth-child(2) article .contentArea .info{margin:0;border-radius: 20px;padding:10% 5% 15%}
    section:nth-child(2) article .contentArea .info .myname{font-size: 4.5vw}

    section:nth-child(2) article .contentArea .info dl{margin-bottom: 30px}
    section:nth-child(2) article .contentArea .info dl:last-child{margin-bottom: 0}
    section:nth-child(2) article .contentArea .info dt{margin:10px 0 12px;font-size: 2.5vw;font-weight: 500}
    section:nth-child(2) article .contentArea .info dd{line-height: 2em;background: #fff;padding:10px 20px;border-radius: 15px;font-size: 2.2vw;font-weight: 300}
    section:nth-child(2) article .contentArea .info .skill_img p{line-height:2em;margin-top: 5px}
    section:nth-child(2) article .contentArea .info .skill_img img{width:40px;margin:10px 3px}

    section article .contentArea .left .contentImg{width:80%;position:relative;left:50%;top:0;z-index: 0;transform: translateX(-50%);margin: -20px 0 20px}
    section article .contentArea .info{margin:0;border-radius: 20px;padding:8% 5% 20%}

    section article .contentArea .info .project_title dt{font-size: 4vw}
    section article .contentArea .info .project_title dd{width:95%;font-size: 2.4vw}

    section article .contentArea .info .project_info{font-size: 2.2vw}
    section article .contentArea .info .qr{position:absolute;right: 10%;bottom:5%;width:15%}

    section:nth-child(3) article .contentArea{padding:8% 5% 20% 5%}
    section:nth-child(3){padding-top: 8%}

    section:nth-child(4){padding-top: 13%}
    section:nth-child(4) article .contentArea .left .contentImg{width:70%;position:relative;left:50%;top:0;z-index: 0}
    section:nth-child(4) article .contentArea .left .contentImg .imgBox{border-radius: 25px;margin-top: 10px}
    section:nth-child(4) article .contentArea .left .contentImg .projectImg{margin-top: 30px}
    section:nth-child(4) article .contentArea .info .project_info dl{width:100%} 
    section:nth-child(4) article .contentArea .left .contentImg .apple_device{top:-.5%;width:49%}

    section:nth-child(5){padding-top: 3%}
    section:nth-child(5) article .contentArea .left .contentImg{margin: 60px 0 100px}
    section:nth-child(6) article .contentArea .left .contentImg img{margin-top: 100px}
    section:nth-child(7) article .contentArea .left .contentImg img{margin-top: 100px}
    section:nth-child(8) article .contentArea .left .contentImg img{margin-top: 100px}
    section:nth-child(9) article .contentArea .left .contentImg img{margin-top: 100px}

    section:nth-child(7) article .contentArea .left{padding-top: -5%}

    section:nth-child(3) article .contentArea .info .profile_btn.sub_btn{position:absolute;bottom:7%;left: 50%;transform: translateX(-50%);width:50%}
    section article .contentArea .info .profile_btn.sub_btn{position:absolute;bottom:7%;left: 35%;transform: translateX(-50%);width:50%}

}


/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
    #wrap {min-width:320px}

    #headerArea h1{font-size: 8vw}
    #headerArea h1 a{margin:20px 0 0 40px;width:70px;padding-right: 40px;background-size: 25%}
    .btn{font-size:6vw; color:#BB371A; display:block}

    .main_page article span{font-size: 5vw}

    section{height:900px}

    section:nth-child(2){padding: 10% 0 5%}
    section:nth-child(2) article .contentArea .left .btnBox{display: block;float:right;width:55%;margin:2% 0 5% 5%}

    section:nth-child(3){padding-top: 5%}
    section:nth-child(3) article .contentArea .left{padding:0 3%}
    section:nth-child(3) article .contentArea .info{margin-top: -30px}


    section:nth-child(4){padding: 12% 0 3%}
    section:nth-child(4) article .contentArea .left .contentImg .imgBox{border-radius: 20px;margin-top: 10px}
    section:nth-child(4) article .contentArea .left .contentImg .projectImg{margin-top: 23px}

    section article .contentArea .info .project_title dt{font-size: 5vw}
    
}
    